kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kind
networking:
  podSubnet: "10.244.0.0/16"
  serviceSubnet: "10.96.0.0/12"
nodes:
  - role: control-plane
    image: kindest/node:v1.34.0
    extraMounts:
      - hostPath: /tmp/kubernetes/control-plane/
        containerPath: /files
        readOnly: true
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      - containerPort: 80
        hostPort: 8080
        listenAddress: 127.0.0.1
        protocol: TCP
      - containerPort: 443
        hostPort: 8443
        listenAddress: 127.0.0.1
        protocol: TCP
      - containerPort: 30001
        hostPort: 30001
