environments:
  default:
  demo:
    values:
      - "helmfile/environments/demo/*.yaml.gotmpl"
    # secrets:
    #   - "helmfile/environments/{{ .Environment.Name }}/*.secrets.yaml"
  production:
    values:
      - "helmfile/environments/production/*.yaml.gotmpl"
    # secrets:
    #   - "helmfile/environments/{{ .Environment.Name }}/*.secrets.yaml"
