bases:
  - "../../bases/default.yaml.gotmpl"

releases:
  - name: "ollama"
    chart: "./charts/ollama"
    condition: application.ollama.enabled
    namespace: {{ .Values.application.ollama.namespace }}
    values:
      - "values.yaml.gotmpl"
