bases:
  - "../../bases/default.yaml.gotmpl"

releases:
  - name: "ollama"
    chart: "./charts/ollama"
    condition: application.ai.enabled
    namespace: {{ .Values.application.ai.namespace }}
    createNamespace: false
    values:
      - "values.yaml.gotmpl"
