database:
  grist:
    type: postgresql
    name: grist
    host: grist-postgresql
    username: grist
    port: 5432
  keycloak:
    type: postgresql
    name: keycloak
    host: postgresql
    port: 5432
  docs:
    type: postgresql
    name: docs
    host: postgresql
    port: 5432
  synapse:
    type: postgresql
    name: synapse
    host: postgresql
    port: 5432
