application:
  # grist is a modern spreadsheet application
  grist:
    enabled: true
    namespace: ~
    defaultLocale: ~
    sessionSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "grist" "sessionSecret" | sha1sum | quote }}
    sandboxFlavor: ~

  # this creates a self hosted AI LLM system using Ollama. It can handle small loads.
  ollama:
    enabled: true
    namespace: ~
    model: "llama3.2:1b"
    gpu:
      enabled: false
      type:
      number:
      mig:
        enabled:
        devices:

  # keycloak is an identity and access management solution. If you have your own identity provider please disable this system and configure the OIDC settings in the authentication.yaml file.
  keycloak:
    enabled: true
    namespace: ~

  # chat is a matrix based chat solution
  chat:
    enabled: true
    namespace: ~
    synapse:
      architecture: monolith
      registrationSharedSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "registrationSharedSecret" | sha1sum | quote }}
      formSecret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "synapse" "formSecret" | sha1sum | quote }}

  # Collabora Online is a standalone real-time collaborative document server  that runs in a browser, and integrates with file storage platforms Nextcloud via WOPI or WebSocket APIs.
  collabora:
    enabled: true
    namespace: ~
    # required when running on OpenShift clusters with restricted security context constraints.
    enableInsecureCoolWSD: false

  # nextcloud is a self hosted file sharing platform
  nextcloud:
    enabled: true
    namespace: ~

  # OpenProject is a web-based project management system
  openproject:
    enabled: true
    namespace: ~

  # livekit is a video conferencing backend system
  livekit:
    enabled: true
    namespace: ~
    loadBalancerIP: ~ # initial ip address for loadbalancer, cronjob will update it every hour
    portRangeStart: 30001 # UDP port range for loadbalancer
    portRangeEnd: 30009
    turnTLSecretName: ~
    keys:
      apikey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "livekit" "apikey" | sha1sum | quote }}

  # meet is a video conferencing frontend for livekit
  meet:
    enabled: true
    namespace: ~
    secretKey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "meet" "secretkey" | sha1sum | quote }}

  # conversations is an prototype AI assistant from LaSuite
  conversations:
    enabled: false
    namespace: ~
    secretKey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "conversations" "secretkey" | sha1sum | quote }}

  # docs is a note taking and document collaboration system from LaSuite
  docs:
    enabled: true
    namespace: ~
    backend:
      django:
        secretKey: {{ print ( derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "djangoSecretKey" | sha1sum ) ( derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "djangoSecretKey2" | sha1sum ) | trunc 63 | quote }}
    collaboration:
      secret: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "collaborationSecret" | sha1sum | quote }}
    frontend:
      # When the GPLv3 is acceptable, this can be set to true. See https://github.com/suitenumerique/docs/blob/main/docs/env.md#impress-frontend-image
      publishAsMit: false
    yProvider:
      key: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "docs" "yProviderKey" | sha1sum | quote }}

  bureaublad:
    enabled: true
    namespace: ~
    backend:
      sideBarLinks: '[{"icon":"rvo-icon-home","url":"https://example.com","title":"Example Link","iframe":true}]'
      secretKey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "bureaublad" "secretkey" | sha1sum | quote }}
    frontend:

  # drive is a document management system from LaSuite
  drive:
    enabled: false
    namespace: ~
    secretKey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "drive" "secretkey" | sha1sum | quote }}
    secrettoServerKey: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "drive" "secrettoServerKey" | sha1sum | quote }}
