autoscaling:
  horizontal:
    ollama:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 80
      targetMemory: ""
    grist:
      enabled: true
      minReplicas: 2
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    keycloak:
      enabled: true
      minReplicas: 2
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    element:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
    livekit:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 60
      targetMemory: ""
    nextcloud:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    collabora:
    # it is disabled. Because after scaling it breaks the collaborative editing and copy/paste.
      enabled: false
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    openproject:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 75
      targetMemory: ""
    meet:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 80
      targetMemory: ""
    conversations:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetCPU: 80
      targetMemory: ""
    docs:
      backend:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPU: 80
        targetMemory: ""
      celery:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPU: 80
        targetMemory: ""
      frontend:
        enabled: true
        minReplicas: 1
        maxReplicas: 3
        targetCPU: 80
        targetMemory: ""
      yProvider:
        # Disabled, see: https://github.com/MinBZK/mijn-bureau-infra/issues/219
        enabled: false
        minReplicas: 1
        maxReplicas: 3
        targetCPU: 80
        targetMemory: ""

  vertical:
    synapse:
      master:
        enabled: false
        annotations: {}
        controlledResources: []
        maxAllowed: {}
        minAllowed: {}
        updatePolicy:
          updateMode: Auto
      worker:
        default:
          enabled: false
          annotations: {}
          controlledResources: []
          maxAllowed: {}
          minAllowed: {}
          updatePolicy:
            updateMode: Auto
    docs:
      backend:
        enabled: true
        annotations: {}
        controlledResources: []
        maxAllowed: {}
        minAllowed: {}
        updatePolicy:
          updateMode: Auto
      celery:
        enabled: false
        annotations: {}
        controlledResources: []
        maxAllowed: {}
        minAllowed: {}
        updatePolicy:
          updateMode: Auto
      frontend:
        enabled: false
        annotations: {}
        controlledResources: []
        maxAllowed: {}
        minAllowed: {}
        updatePolicy:
          updateMode: Auto
      yProvider:
        enabled: false
        annotations: {}
        controlledResources: []
        maxAllowed: {}
        minAllowed: {}
        updatePolicy:
          updateMode: Auto
