containers:
  grist:
    registry: "registry-1.docker.io"
    repository: "gristlabs/grist"
    tag: "1.6.1"
    imagePullSecrets: ~

  ollama:
    registry: "registry-1.docker.io"
    repository: "ollama/ollama"
    tag: "0.9.5"
    imagePullSecrets: ~
