container:
  default:
    registry: ~
    imagePullSecret: ~

  ollama:
    registry: "docker.io"
    repository: "ollama/ollama"
    tag: "0.9.5"
    imagePullSecret: ~

  keycloak:
    registry:  "docker.io"
    repository: bitnami/keycloak
    tag: 26.2.5-debian-12-r3
    imagePullSecret: ~

  keycloak_cli:
    registry:  "docker.io"
    repository: bitnami/keycloak-config-cli
    tag: 6.4.0-debian-12-r8
    imagePullSecret: ~

  grist:
    registry: "registry-1.docker.io"
    repository: "gristlabs/grist"
    tag: "1.6.1"
    imagePullSecret: ~

  minio:
    registry: "registry-1.docker.io"
    repository: "minio/minio"
    tag: "RELEASE.2025-06-13T11-33-47Z"
    imagePullSecret: ~

  postgres:
    registry: "registry-1.docker.io"
    repository: "bitnami/postgresql"
    tag: "17-debian-12"
    imagePullSecret: ~

  redis:
    registry: "registry-1.docker.io"
    repository: "bitnami/redis"
    tag: "8.0-debian-12"
    imagePullSecret: ~
