---
global:
  domain: "mijnbureau.internal"

  # resourcePreset sets the default resources for all applications
  # allowed values "nano" "micro" "small" "medium" "large" "xlarge" "2xlarge"
  resourcesPreset: "small"

  # specify the subdomain for each component. this name will be combined with the base domain specified in the `domain` variable above
  hostname:
    keycloak: "id"
    element: "chat"
    synapse: "matrix"
    grist: "grist"

  defaultLocale: "nl"
