---
global:
  domain: "mijnbureau.internal"

  # resourcePreset sets the default resources for all applications
  # allowed values "nano" "micro" "small" "medium" "large" "xlarge" "2xlarge"
  resourcesPreset: "small"

  # specify the subdomain for each component. this name will be combined with the base domain specified in the `domain` variable above`
  hostname:
    docs: "docs"
    keycloak: "id"
    element: "chat"
    synapse: "matrix"
    grist: "grist"
    ollama: "ollama"

  # if you want to set a custom registry used by all helm charts specify it here.
  # if you want to configure the registry per component you can do that in the charts.yaml.gotmpl
  helmRegistry: ~

  containerRegistry: ~
  imagePullSecrets: ~
