metric:
  enabled: false

  # if you enable these options you need to make sure you have the https://prometheus-operator.dev/ installed
  serviceMonitor:
    enabled: false
  prometheusRule:
    enabled: false
  podMonitor:
    enabled: false
