monitoring:
  prometheus:
    enabled: false
    serviceMonitor:
      enabled: false
      namespace: ""
      annotations: {}
      labels: {}
      jobLabel: ""
      honorLabels: false
      tlsConfig: {}
      interval: ""
      scrapeTimeout: ""
      metricRelabelings: []
      relabelings: []
      selector: {}
