## here you can overwrite specific application resource requirements
resource:
  keycloak:
    keycloak:
    postgresql:

  ollama:

  grist:
    grist:
    postgresql:
    redis:
    minio:

  element:

  collabora:

  synapse:
    master:
    worker:
      default:

  nextcloud:
    nextcloud:
    postgresql:
    redis:
    minio:

  livekit:
    livekit:
    redis:

  chat:
    postgresql:
    redis:
