## here you can overwrite specific application resource requirements
resource:
  keycloak:
  ollama:
  grist:
  element:
  synapse:
    master:
    worker:
      default:
  docs:
    backend:
    celery:
      requests:
        cpu: 500m
        memory: 8192Mi
      limits:
        cpu: 750m
        memory: 10230Mi
    frontend:
    yProvider:
