secret:

  grist:
    adminEmail: you@example.com

  keycloak:
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "adminPassword" | sha1sum | quote}}
