secret:

  keycloak:
    adminUser: admin
    adminPassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "adminPassword" | sha1sum | quote}}
  collabora:
    credentials:
      username: "admin"
      password: "admin"
