smtp:
  from:
    email: you@example.com
    name: "Mijn Bureau"
    logoImage: "https://minbzk.github.io/mijn-bureau/assets/logo-kleur.png"
  host: ""
  port: 587
  protocol: "smtp"
  fromAddress: "noreply@example.com"
  tls:
    enabled: true
    force: true
    requireTransportSecurity: false
  username: ""
  password: {{ env "SMTP_PASSWORD" | quote }}
