# this is only used in demo environments
user:
  - email: johndoe@example.com
    username: johndoe
    firstname: John
    lastname: Doe
    password: myStrongPassword123
  - email: janedoe@example.com
    username: janedoe
    firstname: Jane
    lastname: Doe
    password: myStrongPassword123
